* {
    box-sizing: border-box
}
.book {
    float: left;
    border: 3px solid #f1f1f1;
    width: 50%;
    height: 300px;
    padding: 10px  
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.Button {
    width: auto;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: 5px 18px;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    color: #fff;
    background-color: #007bff;
}
.view{
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 5px 5px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    
    float: right;
}
#list{
   
    color: #f1f1f1 
}

.viewList {
    
    margin: 10px 15px;
    /*display: none; to make a collapse*/
    background-color: white;
    overflow: hidden;
}
#title{
    width: 80%;
    padding: 12px 20px;
    margin: 0px 20px;
    display: inline-block;
    border: 0;
    box-sizing: border-box;
    font-size: 25px;
    background-color: #777;
    color: white
}
#dateTime, #story{
    padding: 10px
}
#groupBtn{
    float: right
}

label, #time{
    font-size: 25px; 
    border: 0;
}
@media screen and (max-width: 900px) {
    .book {
        width: 100%;
        height: auto;
        padding: 5px;
        
    }
    
}
/*     ? */




button:hover {
    opacity: 0.8;
}


.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}


.head {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}



.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: auto; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    padding-top: 10px;
}

.content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; 
    border: 1px solid #888;
    width: 50%; 
    height: auto;
}
.container {
    padding: 16px;
}
.cool{
    width: auto;
    display: block
}

.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

.modal form  .container input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
textarea{
   width: 100%;
   height: 300px;
}
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}

