{
    "extends": "airbnb-base", 
    "rules": {
        "linebreak-style":"off",
        "indent": "off",
        "no-console":0,
        "eol-last":"off",
        "no-unused-vars": "off",
        "no-trailing-spaces":"off",
        "import/order": "off",
        "import/no-unresolved": "off",
        "no-var": "off",
        "vars-on-top":"off",
        "class-methods-use-this":"off",
        "prefer-destructuring": "off",
        "no-restricted-syntax": "off"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    }
}