{
    "extends": "airbnb-base", 
    "rules": {
        "import/order": "off",
        "import/no-unresolved": "off",
        "vars-on-top":"off",
        "no-unused-vars": "off"
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "sourceType": "module",
        "allowImportExportEverywhere": true
    },
    "env": {
        "browser": true,
        "node": true,
        "mocha": true
    }
}