<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My Diary Application</title>
        <link rel="stylesheet" href="/public/style/header.css">
        <link rel="stylesheet" href="/public/style/form.css">
        <link rel="stylesheet" href="/public/style/main.css">
        <link rel="stylesheet" href="/public/style/reminder.css">
        <link rel="stylesheet" href="/public/style/footer.css">
            
    </head>
    <body>
        {{{body}}}
        <script src="/public/javascript/script.js"></script>
        <script src="/public/javascript/reminder.js"></script>
    </body>
    
</html>