footer { 
    display: block;
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  div.all footer { 
    display: block;
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin: 10px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
  }
  