    <div class="header">
        <a href="#" class="logo">MyDiary</a>
        <div class="main">
            <a href="/api/v1/entries">My diary</a>
            <a class="active" href="/api/v1/signup">Sign up</a>
            <a href="/api/v1/signin">Sign in</a>
            <a href="/api/v1/profile">User profile</a>
        </div>
    </div>
    <div class="contain">
        <h1>Register</h1>
    </div>
    <div class="contain">
        <form action="#">
            <div class="contain">
                <label for="name" class="label">Name:</label>
                <input type="text" id="name" class="input" placeholder="Enter Name"name="name" required>
            </div>
            <div class="contain">
                <label for="username" class="label">Username:</label>
                <input type="text" id="username" placeholder="Enter Username"name="username" class="input" required>
            </div>
            <div class="contain">
                <label for="password" class="label">Password:</label>
                <input type="password" id="password" placeholder="Enter Password"name="password" class="input" required>
            </div>
            <div class="contain">
                <button type="submit" class="button">Signup</button>
            </div>
            <div class="contain" id="foot">
                <span>Already a user please click on <a href="/api/v1/signin">Sign in</a></span>
            </div>
        </form>    
    </div>
    <div class="all">
        <footer>
            <p>Posted by: Oluwasegun</p>
            <p>Contact information: <a href="mailto:segsamos@gmail.com">segsamos@gmail.com</a>.</p>
        </footer>
    </div>